# Node modules (общие для frontend и backend)
node_modules/
**/node_modules/

# Логи
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборки
**/dist/
/dist/
/build/
/out/

# Vite кэш
/.vite/

# TypeScript
*.tsbuildinfo

# IDE и ОС файлы
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables (секреты)
.env
**/.env

# Папки с билдом фронтенда (если фронт билдится в отдельную папку внутри frontend)
/frontend/dist/
/backend/dist/ # если бэкенд билдится


/chatStore/

